@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.react-datepicker {
  border: 0 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  font-family: "__Jost_84ea13", sans-serif !important;
}

.react-datepicker__header {
  border: 0 !important
}


.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: #015ad6 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #a0c8ff !important;
}